/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; /* Light pastel background */
  color: #333;
}

h1, h2 {
  color: #4a4a4a; /* Darker text for headers */
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #ff6b81; /* Pastel pink */
  color: white;
}

button:hover {
  background-color: #ff4f68; /* Darker pink on hover */
}

.navbar {
  background-color: #ffb6b6; /* Light pastel pink */
  padding: 15px;
  text-align: center; 
  
}


.mood-board {
  padding: 20px;
  border: 2px dashed #d4d4d4; /* Light gray for the drop zone */
  border-radius: 10px;
  background-color: #ffffff; /* White for mood board */
  position: relative;
}

.dropzone {
  padding: 20px;
  text-align: center;
}
